.DS_Store
artifacts/
build/
dist/
DerivedData/
**/Pods/
**/xcuserdata/
**/*.xcuserstate
**/Build/
**/build/
**/.build/
**/.swiftpm/
*.p12
*.key
*.pem
*.keychain
*.keychain-db
*.p8
*.mobileprovision
*.provisionprofile
.env
.env.*
!*.example
!**/Podfile.lock
!**/version-header.h

.bundle/
vendor/bundle/
**/.gitignore.old
